params {
   inputFilesSubset = "/home/oliviagc/projects/rrg-vmooser/dtaliun/BQC19_Globus/Release10_DEC_2022/CRAMS_batch6/BQC1597*.sorted.dup.recal.cram" // (or cram)
   inputFiles = "/home/oliviagc/scratch/*cram"
   inputFileType = "cram" 
   // inputFilesGroupMelt = "/home/oliviagc/scratch/SV_calling_pipeline/results/melt/ALU/"
   
   inputFilesBam = "/home/oliviagc/scratch/SV_calling_pipeline/results/bamfilestest/*.recal.bam"
   inputLumpy = "/home/oliviagc/scratch/SV_calling_pipeline/results/lumpytest3/*.vcf.gz"
   doCramToBam = false
   // bamsFolder ="/home/oliviagc/scratch/SV_calling_pipeline/bam" // folder to write cram to bam files (for bam type files same as inputFiles folder)
   sveContainer = "~/projects/rrg-vmooser/shared/SV_2024/SVE/sve_latest.sif"
   
   scratch = "/home/oliviagc/scratch"
   perl = "/home/oliviagc/projects/rrg-vmooser/oliviagc/venv_perl5"
   breakdancer = "/home/oliviagc/projects/rrg-vmooser/shared/SV_2024/breakdancer"
   result = "/home/oliviagc/scratch/SV_calling_pipeline/results"
   referenceDir = "~/projects/rrg-vmooser/shared/ReferenceGenomes/genomes/Homo_sapiens.GRCh38/genome"
   referenceGenome = "/home/oliviagc/projects/rrg-vmooser/shared/ReferenceGenomes/genomes/Homo_sapiens.GRCh38/genome/Homo_sapiens.GRCh38.fa"
   genome = "hg38"
   scripts = "/home/oliviagc/scratch/scripts"
   delly = "~/projects/rrg-vmooser/shared/SV_2024/delly/delly"
   manta = "~/projects/rrg-vmooser/shared/SV_2024/manta"
   manta_inversion = "~/projects/rrg-vmooser/shared/SV_2024/manta/libexec/convertInversion.py"
   cnvnator = "/home/oliviagc/projects/rrg-vmooser/shared/SV_2024/CNVnator"
   sve = "~/projects/rrg-vmooser/shared/SV_2024/SVE"
   lumpy = "~/projects/rrg-vmooser/shared/SV_2024/lumpy-sv"
   melt = "~/projects/rrg-vmooser/shared/VariantCallingTools/SV/MELTv2.2.2"
   mei = "~/projects/rrg-vmooser/shared/VariantCallingTools/SV/MELTv2.2.2/me_refs/Hg38"
   meltFolder ="/home/oliviagc/scratch/SV_calling_pipeline/results/meltAlu"
   survivor = "/home/oliviagc/projects/rrg-vmooser/shared/SV_2024/SURVIVOR/SURVIVOR"
   smoove = "~/projects/rrg-vmooser/shared/VariantCallingTools/SV/smoove"
   annotsv = "~/projects/rrg-vmooser/shared/VariantCallingTools/SV/AnnotSV/AnnotSV"
   breakseq2 ="~/projects/rrg-vmooser/shared/VariantCallingTools/SV/SVE/src/breakseq2"
   
   // Arguments for SURVIVOR merge tool when merging across single sample
   // must agree on SV type, strand, do not estimate distance based on sv size, minimum size is 50 bp 
   
   chrom="chr1,chr2,chr3,chr4,chr5,chr6,chr7,chr8,chr9,chr10,chr11,chr12,chr13,chr14,chr15,chr16,chr17,chr18,chr19,chr20,chr21,chr22,chrX,chrY"
   breakpoint_dist=1000 
   use_type=1
   use_strand=1
   dist_based=0
   min_sv_size=50

}

apptainer {
   enabled = true
   autoMounts = true
}


// singularity {
//   enabled = true
// autoMounts = true
// }

process {

   executor = 'slurm'
   clusterOptions = '--account=def-vmooser' // account name
   // executor = "local"
}

executor {
   $slurm {
      queueSize = 500
      queueStatInterval = "3min"
      pollInterval = "3min"
      submitRateLimit = "5 sec"
      jobName = { "svCalling" }
   }
   $local {
      cpus = 1
   }
}