params {
   inputFiles ="/home/oliviagc/projects/rrg-vmooser/dtaliun/BQC19_Globus/Release10_DEC_2022/CRAMS_batch2/*.cram"
   smooveContainer = "/home/oliviagc/projects/rrg-vmooser/shared/SV_2024/smoove/smoove_latest.sif"
   scratch = "/home/oliviagc/scratch"
   perl = "/home/oliviagc/perl5"
   breakdancer = "~/projects/rrg-vmooser/shared/SV_2024/breakdancer-1.4.5"
   result = "/home/oliviagc/scratch/SV_calling_pipeline/results/Batch2"
   referenceDir = "~/projects/rrg-vmooser/shared/ReferenceGenomes/genomes/Homo_sapiens.GRCh38/genome"
   referenceGenome = "/home/oliviagc/projects/rrg-vmooser/shared/ReferenceGenomes/genomes/Homo_sapiens.GRCh38/genome/Homo_sapiens.GRCh38.fa"
   genome = "hg38"
   scripts = "/home/oliviagc/scratch/scripts"
   delly = "~/projects/rrg-vmooser/shared/SV_2024/delly/"
   manta = "~/projects/rrg-vmooser/shared/SV_2024/manta"
   manta_inversion = "~/projects/rrg-vmooser/shared/SV_2024/manta/libexec/convertInversion.py"
   cnvnator = "/home/oliviagc/projects/rrg-vmooser/shared/SV_2024/CNVnator"
   sve = "~/projects/rrg-vmooser/shared/SV_2024/SVE"
   lumpy = "~/projects/rrg-vmooser/shared/SV_2024/lumpy-sv"
   melt = "~/projects/rrg-vmooser/shared/VariantCallingTools/SV/MELTv2.2.2"
   mei = "~/projects/rrg-vmooser/shared/VariantCallingTools/SV/MELTv2.2.2/me_refs/Hg38"
   survivor = "/home/oliviagc/projects/rrg-vmooser/shared/SV_2024/SURVIVOR/SURVIVOR"
   smoove = "~/projects/rrg-vmooser/shared/VariantCallingTools/SV/smoove"
   annotsv = "~/projects/rrg-vmooser/shared/VariantCallingTools/SV/AnnotSV/AnnotSV"
   breakseq2 ="~/projects/rrg-vmooser/shared/VariantCallingTools/SV/SVE/src/breakseq2"
   
   // Arguments for SURVIVOR merge tool when merging across single sample
   // must agree on SV type, strand, do not estimate distance based on sv size, minimum size is 50 bp 
   
   chrom="chr1,chr2,chr3,chr4,chr5,chr6,chr7,chr8,chr9,chr10,chr11,chr12,chr13,chr14,chr15,chr16,chr17,chr18,chr19,chr20,chr21,chr22,chrX,chrY"
   breakpoint_dist=1000 
   use_type=1
   use_strand=1
   dist_based=0
   min_sv_size=50

}

apptainer {
   enabled = true
   autoMounts = true
}


// singularity {
//   enabled = true
// autoMounts = true
// }

process {

   executor = 'slurm'
   clusterOptions = '--account=def-vmooser' // account name
   // executor = "local"
}

executor {
   $slurm {
      queueSize = 900
      queueStatInterval = "3min"
      pollInterval = "3min"
      submitRateLimit = "5 sec"
      jobName = { "svCalling" }
   }
   $local {
      cpus = 1
   }
}