params {
   inputFiles = "/home/oliviagc/projects/rrg-vmooser/dtaliun/BQC19_Globus/Release10_DEC_2022/CRAMS_batch4/BQC11707.sorted.dup.recal.cram" // (or cram)
   inputFilesSubset = "/home/oliviagc/scratch/*cram"
   inputFileType = "cram" 
   doCramToBam = false
   bamsFolder ="/home/oliviagc/scratch/SV_calling_pipeline/bam" // folder to write cram to bam files (for bam type files same as inputFiles folder)
   result = "/home/oliviagc/scratch/SV_calling_pipeline/results"

    referenceDir = "~/projects/rrg-vmooser/shared/ReferenceGenomes/genomes/Homo_sapiens.GRCh38/genome"
    referenceGenome = "/home/oliviagc/projects/rrg-vmooser/shared/ReferenceGenomes/genomes/Homo_sapiens.GRCh38/genome/Homo_sapiens.GRCh38.fa"
    genome = "hg38"
    scripts = "/home/oliviagc/scratch/scripts"
    delly = "/home/oliviagc/projects/rrg-vmooser/shared/VariantCallingTools/SV/delly/delly_v0.9"
    manta = "/cvmfs/soft.computecanada.ca/easybuild/software/2020/avx2/MPI/gcc9/openmpi4/manta/1.6.0/bin"
    sve = "~/projects/rrg-vmooser/shared/VariantCallingTools/SV/SVE"
    lumpy = "~/projects/rrg-vmooser/shared/VariantCallingTools/SV/SV/lumpy-sv"
    melt = "~/projects/rrg-vmooser/shared/VariantCallingTools/SV/MELTv2.2.2"
    mei = "~/projects/rrg-vmooser/shared/VariantCallingTools/SV/MELTv2.2.2/me_refs/Hg38"
    survivor = "~/projects/rrg-vmooser/shared/VariantCallingTools/SV/SURVIVOR/Debug/SURVIVOR"
    smoove = "~/projects/rrg-vmooser/shared/VariantCallingTools/SV/smoove"
    annotsv = "~/projects/rrg-vmooser/shared/VariantCallingTools/SV/AnnotSV/AnnotSV"

   breakpoint_dist=1000 
   use_type=1
   use_strand=1
   dist_based=0
   min_sv_size=50

}


singularity {
   enabled = true
   autoMounts = true
}

process {

   executor = 'slurm'
   clusterOptions = '--account=rrg-vmooser' // account name
   // executor = "local"
}

executor {
   $slurm {
      queueSize = 500
      queueStatInterval = "3min"
      pollInterval = "3min"
      submitRateLimit = "5 sec"
      jobName = { "svCalling" }
   }
   $local {
      cpus = 1
   }
}