params {
   input_rna_seq_fastp_r1 = "/home/oliviagc/projects/rrg-vmooser/oliviagc/results_BQC19/RNA_Seq/gencode_hg38/fastp_step1/*/*/*.R1.fq.gz"
   input_rna_seq_fastp_r2 = "/home/oliviagc/projects/rrg-vmooser/oliviagc/results_BQC19/RNA_Seq/gencode_hg38/fastp_step1/*/*/*.R2.fq.gz"
   result = "/home/oliviagc/projects/rrg-vmooser/oliviagc/results_BQC19/RNA_Seq/gencode_hg38"
   output = "/home/oliviagc/projects/rrg-vmooser/oliviagc/results_BQC19/RNA_Seq/gencode_hg38/star_step3/*/*/*.bam"
   merged_output = "/home/oliviagc/projects/rrg-vmooser/oliviagc/results_BQC19/RNA_Seq/gencode_hg38/annotation_step4/merged_counts.txt"
   ref = "/home/oliviagc/scratch/RNA_Seq/transcriptomics_f1_f28_fixed.tsv"
}


process {
    // executor = "local"
    executor = "slurm"
    clusterOptions = "--account=def-dtaliun"
	// cpus = 1
    // time = "8h"
    // memory = "16GB"
}

executor {
        $slurm {
                queueSize = 500
                jobName = { "rna_seq_bqc" }
        }
        $local {
                cpus = 8
        }
}