params {
   // change paths as needed
   // comment out the one not using: 

   // all samples:
   covar_cols = "sex,age,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,cancer,cardiac,diabetes,immuno,kidney,liver,neuro,nutrition,respiratory,stroke"
   cat_covar = "sex,cancer,cardiac,diabetes,immuno,kidney,liver,neuro,nutrition,respiratory,stroke"
   inputFiles = "./inputs_saige_all/snp_data/BQC19_all.snparray.hwe_filtered.pruned.ocsamples.vcf.gz"
   inputPhenType = "./inputs_saige_all/phenotype_file/draft-pheno_covar.column_types.tsv"
   inputPhen = "./inputs_saige_all/phenotype_file/bqc19_phenotypes_covariates_may_2025.txt"
   // inputvcf =  "./needs_to_be_sorted/input_vcfs_oc_sep_chr/*.vcf.gz"
   inputvcf = "./inputs_saige_all/input_vcfs_SVs/*.vcf.gz"                                              
   sampleFile = "./inputs_saige_all/sample_list/overlap.txt"
   result = "./results/saige_1.4.0/gwas_28_05_25_incl_permutated_phen"
   bqc_males = "./inputs_saige_all/sample_list/overlap_males.txt"



   // male specific:
   // covar_cols = "age,smoking,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,PC11,PC12,PC13,PC14,PC15,PC16,PC17,PC18,PC19,PC20,cancer,cardiac,diabetes,immuno,kidney,liver,neuro,nutrition,respiratory,stroke"
   // cat_covar = "smoking,cancer,cardiac,diabetes,immuno,kidney,liver,neuro,nutrition,respiratory,stroke"
   // inputPhen = "./phenotypes/merged_oc_phen_final_male.tsv"
   // inputFiles = "./pca_oc/BQC19_all.snparray.hwe_filtered.pruned.ocsamples_male.vcf.gz"
   // sampleFile = "./sample_list_oc/bqc_m"
   // inputvcf = "./input_vcfs_male_chr_conv/samples_merged*.Final.gd_overlap_male.vcf.gz"                                              
   // result = "./results/male"

   // female specific:
   // covar_cols = "age,smoking,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,PC11,PC12,PC13,PC14,PC15,PC16,PC17,PC18,PC19,PC20,cancer,cardiac,diabetes,immuno,kidney,liver,neuro,nutrition,respiratory,stroke"
   // cat_covar = "smoking,cancer,cardiac,diabetes,immuno,kidney,liver,neuro,nutrition,respiratory,stroke"
   // inputPhen = "./phenotypes/merged_oc_phen_final_female.tsv"
   // inputFiles = "./pca_oc/BQC19_all.snparray.hwe_filtered.pruned.ocsamples_female.vcf.gz"
   // sampleFile = "./sample_list_oc/bqc_f"
   // inputvcf = "./input_vcfs_female/samples_merged*.Final.gd_overlap_female.vcf.gz"                                              
   // result = "./results/female"

   chrom = ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','X']
   // chrom= ['chr1','chr2','chr3','chr4','chr5','chr6','chr7','chr8','chr9','chr10','chr11','chr12','chr13','chr14','chr15','chr16','chr17','chr18','chr19','chr20','chr21','chr22','chrX']
   

   plink2_exec="plink2"
}

apptainer {
   enabled = true
   autoMounts = true
}


process {
	withLabel: SAIGE {
		container = "/home/oliviagc/scratch/saige_1.4.0.sif" // FULL path required here
	}
   executor = "local"
        // executor = "slurm"
	clusterOptions = "--account=rrg-vmooser"
	// cpus = 4
        // time = "8h"
        // memory = "16GB"
}

executor {
        $slurm {
                queueSize = 400
                jobName = { "saige_bqc" }
        }
        $local {
                cpus = 10
        }
}